<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="font-size:16px;">
      Payment Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ticket-detail-page">

  <ion-card *ngFor="let pay of impact" class="payment-card">

    <!-- HEADER -->
    <div class="payment-header">

      <div class="left-section">
        <div class="ticket-no">
          Ticket ID: {{ pay.TicketID }}
        </div>

        <div class="status-badge" style="color: green;">
        CFO Approved
        </div>
      </div>

      <div class="right-section">
        <div class="payment-type">
          {{ pay.PaymentType }}
        </div>

        <div class="amount">
          ₹ {{ pay.Amount }}
        </div>
      </div>

    </div>

    <!-- EXISTING IMAGES -->
    <div class="img-row">

      <div class="img-box" *ngIf="pay.BillImage">
        <div class="img-title">Bill Image</div>
        <img [src]="pay.BillImage" />
      </div>

      <div class="img-box" *ngIf="pay.QrImage">
        <div class="img-title">QR Image</div>
        <img [src]="pay.QrImage" />
      </div>

    </div>

<!-- CAPTURE PAYMENT IMAGE -->
<div class="upload-section">

  <div class="upload-box" (click)="capture(pay)">
    Capture Payment Image
  </div>

  <!-- Preview -->
  <div class="preview"
       *ngIf="selectedPaymentId === pay.ID && previewImage">
    <img [src]="previewImage" />
  </div>

</div>

<!-- SUBMIT BUTTON -->
<div class="approve-area"
     *ngIf="selectedPaymentId === pay.ID && previewImage">

  <ion-button expand="block"
              [disabled]="isSubmitting"
              (click)="submitPayment(pay)">
    Submit
  </ion-button>

</div>

  </ion-card>

  <div *ngIf="show" class="no-data">
    No Payment Records Found
  </div>

</ion-content>