<div class="reset-container">

  <!-- Logo -->
  <div class="logo">
    <img src="/assets/img/logo.jpg" alt="Company Logo" class="logo" />
    <p>Quick • Affordable • Trusted</p>
  </div>

  <!-- Card -->
  <div class="reset-card">

    <h3>Reset Password</h3>
    <p class="sub-text">Enter your registered mobile number</p>

    <div class="input-box">
      <span class="icon">📱</span>
      <input
        type="number"
        placeholder="Enter mobile number"
        maxlength="10"
        oninput="if(this.value.length>10)this.value=this.value.slice(0,10)"
      />
    </div>

    <button class="btn-reset" routerLink="/verfied-reset-password">SEND OTP</button>

    <p class="back-login">Back to Login</p>

  </div>
</div>
