.page-bg {
  --background: #fff;
  padding: 12px;
}

/* Card Design */
.payment-card {
  border: 1.5px solid #027dc1;
  border-left: 6px solid #d12e27;
  border-radius: 12px;
  margin-bottom: 14px;
  box-shadow: none;
}

/* Header */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  border-bottom: 1px solid #eee;
}

.card-header h2 {
  font-size: 16px;
  font-weight: 600;
  color: #027dc1;
  margin: 0;
}

/* Eye Button */
.eye-btn {
    --color: #d12e27;
    text-transform: none;
    border: 2px solid;
    border-radius: 10px;
}

/* Body */
.card-body {
  padding: 12px 14px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.row span {
  font-size: 13px;
  color: #555;
}

.row strong {
  font-size: 14px;
  color: #000;
}

/* Grand Total Card */
.total-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 14px;
  background: #027dc1;
  color: #fff;
  margin-bottom: 16px;
}

.total-left span {
  font-size: 13px;
  opacity: 0.9;
}

.total-left h2 {
  margin: 4px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.total-card ion-icon {
  font-size: 28px;
  color: #fff;
}
ion-badge {
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: 600;
}

/* Paid */
.status-paid {
  background: #e6f7ee;
  color: #0f9d58;
}

/* Pending */
.status-pending {
  background: #fff4e5;
  color: #d12e27;
}

/* Rejected */
.status-rejected {
  background: #fdecea;
  color: #d12e27;
}
