<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title class="page-title">
      Payment Approval Tickets
    </ion-title>
  </ion-toolbar>

  <!-- SEGMENT -->
  <ion-segment [(ngModel)]="selectedSegment"
               (ionChange)="segmentChanged($event)"
               class="custom-segment">
    <ion-segment-button value="current">
      <ion-label>Approve Payment </ion-label>
    </ion-segment-button>

    <ion-segment-button value="history">
      <ion-label>Payment paid</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- SEARCH -->
  <ion-searchbar
    class="custom-search"
    placeholder="Search Ticket..."
    (ionInput)="filterTickets($event)">
  </ion-searchbar>
</ion-header>


<ion-content class="page-bg">

  <!-- REFRESH -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshTickets($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- EMPTY STATE -->
  <div class="empty-box" *ngIf="filteredTickets.length === 0">
    <ion-icon name="document-text-outline"></ion-icon>
    <p>No Tickets Found</p>
  </div>

  <!-- TICKET LIST -->
  <ion-card class="ticket-card" *ngFor="let t of filteredTickets">

    <ion-card-content>

      <div class="ticket-header">
        <div class="ticket-id">
          #{{t.TicketNumber}}
        </div>

        <div [ngClass]="getStatusClass(t.Status)" class="status-badge">
          {{t.Status}}
        </div>
      </div>

      <div class="ticket-body">
        <div class="info-row">
          <span class="label">Created</span>
          <span class="value">{{t.CreatedDate}}</span>
        </div>

        <div class="info-row">
          <span class="label">Amount</span>
          <span class="amount">₹ {{t.Amount}}</span>
        </div>
      </div>

      <ion-button expand="block"
                  size="small"
                  class="view-btn"
                  (click)="viewDetails(t.TicketID,t.ID)">
        View Details
      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>