<ion-header>
  <ion-toolbar style="--background:#0c7cbc; --color:#fff;">
    <ion-title>Aim Shooter</ion-title>
    <ion-buttons slot="start">
      <ion-back-button style="color:#fff"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="top-panel">
    <span>Score: {{ score }}</span>
    <span>Time: {{ timeLeft }}</span>
  </div>

  <div class="game-area" (click)="shoot($event)">
    <div 
      class="target"
      *ngFor="let target of targets"
      [style.left.px]="target.x"
      [style.top.px]="target.y">
    </div>
  </div>

  <ion-button expand="block" color="success" (click)="startGame()" *ngIf="!gameStarted">
    Start Game
  </ion-button>

</ion-content>