<ion-header class="header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button  icon="arrow-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">View History Quotation</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content class="ion-padding">

  <table class="quotation-table" *ngIf="historyList.length > 0">
    <thead>
      <tr>
        <th>Line Item Name</th>
        <th>Quantity</th>
        <th>UoM</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of historyList">
        <td>{{ item.LineItemName }}</td>
        <td>{{ item.Quantity }}</td>
        <td>{{ item.UoM }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Empty State -->
<ion-text color="medium" *ngIf="historyList.length === 0" class="empty-history">
  <p>No quotation history found</p>

  <ion-button style="text-transform: none;"  color="danger" routerLink="/create-quation">
    Create Quotation 
  </ion-button>
</ion-text>


</ion-content>
