<ion-header class="header">
  <ion-toolbar class="header-toolbar"  style="--background:#027dc1; --color:#fff"  >
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">     Select  Audit Type</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="page-bg">
<div class="audit-grid">

  <div class="audit-card">
    <img src="/assets/img/energy.png" />
    <p>Energy Audit</p>
  </div>

  <div class="audit-card">
    <img src="/assets/img/healthcare.png" />
    <p>Safety Audit</p>
  </div>

  <div class="audit-card">
    <img src="/assets/img/Electrical.png" />
    <p>Electrical Audit</p>
  </div>

  <div class="audit-card">
    <img src="/assets/img/assessment.png" />
    <p>Environmental Audit</p>
  </div>

  <div class="audit-card">
    <img src="/assets/img/amenities.png" />
    <p>Facility Condition Audit</p>
  </div>

  <div class="audit-card">
    <img src="/assets/img/regulatory-compliance.png" />
    <p>Compliance Audit</p>
  </div>

  <div class="audit-card">
    <img src="/assets/img/operational-cost.png" />
    <p>Operational Audit</p>
  </div>
    <div class="audit-card">
    <img src="/assets/img/thermal-imaging.png" />
    <p>thermography audit </p>
  </div>

</div>


</ion-content>
