
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/ppm-submit-tickets">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; color: #000;">Fire </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card> 
   <h6 style="    text-align: center;
    font-weight: bold;
    font-size: large;
    color: #000;">Assets Information</h6>
  
  <ion-item>
    <ion-label position="stacked" style="  font-size: 18px;">Equipment Details <span
        style="color: #d20411">*</span></ion-label>
    <ion-textarea value="{{fir_data.EquipmentDetails}}"   [(ngModel)]="userdetails.EquipmentDetails" 
      type="text"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" style="  font-size: 18px;"> Serial No. <span
        style="color: #d20411">*</span></ion-label>
    <ion-textarea  value="{{fir_data.SerialNo}}" [(ngModel)]="userdetails.SerialNo" 
      type="text"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" style="  font-size: 18px;"> Capacity <span
        style="color: #d20411">*</span></ion-label>
    <ion-textarea value="{{fir_data.Capacity}}"   [(ngModel)]="userdetails.Capacity" 
      type="text"></ion-textarea>
  </ion-item>

    <ion-item>
    <ion-label position="stacked" style="  font-size: 18px;"> Make / Model  <span
        style="color: #d20411">*</span></ion-label>
    <ion-textarea value="{{fir_data.MakeModel}}"   [(ngModel)]="userdetails.MakeModel" 
      type="text"></ion-textarea>
  </ion-item>
    <ion-item>
    <ion-label position="stacked" style="  font-size: 18px;"> Refrigerant Type  <span
        style="color: #d20411">*</span></ion-label>
    <ion-textarea  value="{{fir_data.RefrigerantType}}"  [(ngModel)]="userdetails.RefrigerantType"
      type="text"></ion-textarea>
  </ion-item>
  <ion-list>
    <ion-radio-group  value="{{fir_data.AssetCondition}}"  [(ngModel)]="userdetails.AssetCondition">
      <ion-list-header style="color: #000; font-weight: 600; font-size: large;">
        Please Select Condition
      </ion-list-header>
      <ion-item>
        <ion-label>Good</ion-label>
        <ion-radio value="GOOD"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Not Good</ion-label>
        <ion-radio value="NOT GOOD"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-radio-group>
      <ion-item>
        <ion-label>Bad</ion-label>
        <ion-radio value="BER"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  




  </ion-card>
   
<ion-item  >
  <ion-label position="stacked" style="  font-size: 18px;">Complaint Description <span style="color: #d20411">*</span></ion-label>
  <ion-textarea   value="{{fir_data.ProblemReportedByClien}}"  [(ngModel)]="userdetails.ProblemReportedByClient"  style=" --padding-bottom: 30px;" type="text" ></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  style="  font-size: 18px;" position="stacked">Action Taken  <span style="color: #d20411">*</span></ion-label>
  <ion-textarea   value="{{fir_data.ActionTaken}}" [(ngModel)]="userdetails.ActionTaken"   style=" --padding-bottom: 50px;" type="text" ></ion-textarea>
</ion-item>
<ion-item>
  <ion-label style="  font-size: 18px;" position="stacked"> Observation <span style="color: #d20411">*</span></ion-label>
  <ion-textarea  value="{{fir_data.Observation}}"  [(ngModel)]="userdetails.Observation"  style=" --padding-bottom: 30px;" type="text" ></ion-textarea>
</ion-item>

<ion-item>
  <ion-label  style="  font-size: 18px;" position="stacked"> Remarks</ion-label>
  <ion-textarea value="{{fir_data.Remarks}}" rows="1" cols="50"  [(ngModel)]="userdetails.Remarks"   style=" --padding-bottom: 10px;" type="text" ></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  style="  font-size: 18px;" position="stacked">  Client Representative Name </ion-label>
  <ion-textarea  value="{{fir_data.ClientRepresentative}}"   rows="1" cols="50" [(ngModel)]="userdetails.ClientRepresentative"   style=" --padding-bottom: 10px;" type="text" ></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  style="  font-size: 18px;" position="stacked"> Client Representative Contact</ion-label>
  <ion-textarea  value="{{fir_data.ClientRepresentativeContact}}"  [(ngModel)]="userdetails.ClientRepresentativeContact"  rows="1" cols="50"      style=" --padding-bottom: 10px;" type="text" ></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  style="  font-size: 18px;" position="stacked">Email(s) <span style="font-size: 18px;"></span> </ion-label>
  <ion-textarea value="{{fir_data.ClientRepresentativeEmails}}" rows="1" cols="50"  [(ngModel)]="userdetails.ClientRepresentativeEmails"   style=" --padding-bottom: 10px;" type="text" ></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  style="  font-size: 18px;" position="stacked"> Client Representative Designation</ion-label>
  <ion-textarea value="{{fir_data.ClientRepresentativeDesignation}}" rows="1" cols="50"  [(ngModel)]="userdetails.ClientRepresentativeDesignation"   style=" --padding-bottom: 10px;" type="text" ></ion-textarea>
</ion-item>
<ion-item>
  <ion-label  style="  font-size: 18px;" position="stacked"> Remarks</ion-label>
  <ion-textarea  rows="1" cols="50"  [(ngModel)]="userdetails.Remarks"   style=" --padding-bottom: 10px;" type="text" ></ion-textarea>
</ion-item>


<ion-grid>
  <ion-row>
    <ion-col size="7">
      <strong>Item</strong>
    </ion-col>
    <ion-col size="2">
      <strong>Yes</strong>
    </ion-col>
    <ion-col size="2">
      <strong>No</strong>
    </ion-col>
  </ion-row>
<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Fire alarm control panel accessible by emergency response personnel and not obstructed</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.FireAlarmControlPanelAccessible">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Manual pull boxes not obstructed and accessible</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.ManualPullBoxesAccessible">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Verify that the panel displays accurate information and responds appropriately</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.PanelDisplaysAccurateInfo">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Visual check and clean the smoke detector</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.SmokeDetectorVisualCheckClean">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the sensitivity of the smoke detector by aerosol spray</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.SmokeDetectorSensitivityCheck">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the connectors of FAS panel</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.FasPanelConnectorsCheck">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the battery status of FAS panel</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.FasPanelBatteryStatus">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the power supply of the system</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.SystemPowerSupplyCheck">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the wiring and looping</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.WiringAndLoopingCheck">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the MCP, if Hammer required available with MCP?</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.McpHammerAvailabilityCheck">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the hooters</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.HootersCheck">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the heat detectors</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.HeatDetectorsCheck">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the battery voltage 12 volt</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.BatteryVoltage12vCheck">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>

<div class="tickmark">
  <div style="width: 60%;">
    <ion-label>Check the AC voltage 220 volt to 230 volt</ion-label>
  </div>
  <div>
    <ion-radio-group [(ngModel)]="userdetails.AcVoltage220230vCheck">
      <ion-item lines="none">
        <ion-radio slot="start" value="Yes"></ion-radio>
        <ion-radio slot="start" value="No"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</div>


 
</ion-grid>




  
  <div style="    border: 1px solid #09475e;
  margin: 5px;">
    <canvas #signaturePad width="300" height="150" ></canvas>
  </div>
     <div class="sign_button" *ngIf="hidd_pad" style="display: flex; justify-content: space-around; margin-top: 5%;"> 
      <ion-button  (click)="clearSignature()" style="--background: #eee8e8; color: black;">Clear Signature</ion-button>
      <div>
        <ion-button  style="--background: #0b7ba1;;"  (click)="saveSignature()">Save Signature</ion-button>
      </div>
 
     </div>
     <div>
      <img [src]="fir_data.ClientSignature" style="width: 100%; height: 200px;" />
     </div>
     <div style="margin-bottom: 10%; display: flex; justify-content: space-around;">
      <div>
        <ion-button  (click)="submit ()"  class="button22" expand="block"> Submit </ion-button>
  
      </div>
    </div>
</ion-content>
